@font-face {
    font-family: 'VT323';
    src: url('./VT323.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf');
}

html {
    /* background: rgb(130, 30, 30); */
    background: black;
}

* {
    margin: 0;
    image-rendering: pixelated;
    text-shadow: 0px 10px 1px rgba(255, 255, 255, 0.05);
    /* cursor: none; */
}

body {
    background: black;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    /* forces hardware acceleration */
    transform: translate3d(0, 0, 0);
}

#vignette {
    box-shadow: 1px 2px 242px -36px rgba(0,0,0,0.75) inset;
    z-index: 99999;
    pointer-events: none;
    position: absolute;
    top: 0; left: 0;
    overflow: none;
    width: 100%;
    height: 100%;
}

@keyframes flicker-in {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#clickprevention {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    pointer-events: none;
}

#end-red-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    animation: fade-out 1s forwards;
}

#health-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 255, 0);
    animation: fade-out 0.5s forwards;
}

.settings-btn {
    border: 2px solid white;
    background: black;
    color: white;
    font-family: 'VT323';
    border-radius: 0px;
    font-size: 115%;
    cursor: pointer;
}

input[type='checkbox'] {
    accent-color: white;
    border-radius: 0;
    width: 20px;
    height: 20px;
}

input[type=range] {
    width: 100%;
    margin: 17.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 100%;
    height: 6px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    margin-top: -9px;
    background: #ffffff;
    border: 3px solid #000000;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #404040;
}

#pause-menu-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/tvgif.gif');
    background-size: 100% 100%;
    opacity: 0.03;
    background-position: bottom;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#pause-menu {
    font-family: 'VT323';
    font-size: 2.5vw;
    animation: flicker-in 0.2s forwards;
    position: absolute;
    left: 10%;
    transform: translate(0, -50%);
    top: 50%;
    background: rgba(118, 118, 118, 0.114);
    border-right: 0.25vw solid rgba(143, 143, 143, 0.216);
    padding: 30px;
    color: white;
    box-shadow: 25px 0px 200px rgba(0, 0, 0, 0.488);
    z-index: 9999;
    pointer-events: all;
}

#settings-menu {
    font-family: 'VT323';
    font-size: 2.5vw;
    animation: flicker-in 0.2s forwards;
    position: absolute;
    right: 10%;
    transform: translate(0, -50%);
    top: 50%;
    background: rgba(118, 118, 118, 0.114);
    border-right: 0.25vw solid rgba(143, 143, 143, 0.216);
    padding: 30px;
    color: white;
    box-shadow: 25px 0px 200px rgba(0, 0, 0, 0.488);
    z-index: 99999;
    pointer-events: all;
}

h5 {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

.settings-item {
    display: inline;
}

.settings-name {
    float: left;
    vertical-align: middle;
    width: 60% !important;
}

.settings-input {
    float: right;
    width: 40% !important;
}

#pause-menu h3 {
    margin-top: 15px;
    transition: 0.15s;
    z-index: 99999;
    cursor: pointer;
}

#pause-menu h3:hover {
    opacity: 0.5;
    padding-left: 5px;
}

.on-drugs {
    animation: trippin 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0ms infinite alternate;
}

@keyframes funky-text {
    0% {
        color: rgb(247, 144, 247);
        text-shadow: 2px 2px 0px rgba(211, 211, 211, 0.419);
    }

    25% {
        color: rgb(231, 182, 69);
    }

    50% {
        color: rgb(127, 255, 127);
        text-shadow: none;
    }

    75% {
        color: rgb(130, 113, 255);
    }

    100% {
        color: rgb(247, 144, 247);
        text-shadow: 2px 2px 0px rgba(211, 211, 211, 0.419);
    }
}

@keyframes trippin {
    from {
        filter: hue-rotate(0)
    }

    to {
        filter: hue-rotate(360deg)
    }
}

#crosshair-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: lightgreen;
    text-shadow: 0 0 10px white;
    font-size: 150%;
    z-index: 1000;
    transform: translate(100%, 100%);
    visibility: hidden;
}

#position-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    text-shadow: 0 0 10px white;
    font-size: 150%;
    z-index: 1000;
    padding: 10px;
}

#interaction-text {
    display: none;
    /* center */
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    box-shadow: 0px 0px 35px #ffffff6b;
    z-index: 1000;
    transform: translateX(-50%);
    padding: 10px 10px;
    font-size: 75%;

    background: url('../img/backdrop.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;

    filter: sepia(1);

    /* --border-angle: 0turn;
    --border-size: 1px; */
    /* background-image: conic-gradient(from var(--border-angle),
            #000, #000, #000),
        conic-gradient(from var(--border-angle), transparent 20%, rgb(255, 255, 255), rgb(255, 238, 200));

    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;

    background-position: center center;
    background-repeat: no-repeat; */

    /* animation: bg-spin 0.75s linear infinite; */
}

/* @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

/* ty shaw on codepen very cool */
@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

*/ #help-text {
    /* bottom center */
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    z-index: 1000;
    padding: 20px;
    transform: translate(-50%, 0);
    opacity: 0.25;
    text-align: center;
}

#da-big-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    font-family: 'VT323';
    font-size: 4.3vw;
    color: white;
    z-index: 50;

    background: -webkit-linear-gradient(#ccc 80%, #ffffff78 20%);
    background-clip: text;
    background-size: 200% 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shift-gradient 0.15s ease infinite;
    -moz-animation: shift-gradient 0.15s ease infinite;
    animation: shift-gradient 0.15s ease infinite;
    opacity: 0.5;
}

#da-big-text:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(150%);
    letter-spacing: -5px;
    font-weight: bold;
    background: -webkit-linear-gradient(#ccc 80%, #ffffff78 20%);
    background-clip: text;
    background-size: 200% 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shift-gradient 0.15s ease infinite;
    -moz-animation: shift-gradient 0.15s ease infinite;
    animation: shift-gradient 0.15s ease infinite;
    opacity: 0.5;
    font-size: 800%;

    font-family: 'VT323';

    text-align: center;
    text-shadow: 0 0 20px white;
    padding: 20px;
}

@-webkit-keyframes shift-gradient {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes shift-gradient {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

#loader-bg {
    animation: fade-in 0.5s linear;
    animation-direction: forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/vhs.gif");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    z-index: 2000;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out-sharp {
    0% {
        opacity: 1;
    }

    5% {
        opacity: 0;
        filter: sepia(1);
    }

    10% {
        opacity: 1;
        filter: contrast(100);
    }

    15% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        filter: sepia(1);
    }
}

@keyframes fade-out-some {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.05;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-up {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        position: initial;
        visibility: visible;
        height: initial;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
        position: initial;
        visibility: visible;
        height: initial;
    }
}

.pop-up {
    opacity: 0;
    animation: pop-up 0.75s forwards;
    position: absolute;
    visibility: hidden;
    height: 0;
}

#popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-shadow: 0 0 10px black;
    z-index: 1000;
    opacity: 0;
    width: 80%;
    height: 80%;
    display: none;
}

#vizbox {
    position: absolute;
    bottom: 35px;
    left: 35px;
    z-index: 1000;
    font-size: 12px;
    color: yellow;
    font-weight: bold;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.85);
}

#DRAWCALLSViz {
    color: lightyellow;
}

#XViz {
    color: lightcoral;
}

#YViz {
    color: lightgreen;
}

#ZViz {
    color: lightblue;
}

#NUMVOXELSViz {
    color: lightpink;
}

#NUMCOVERBOXESViz {
    color: lightcyan;
}

#npc-chat {
    z-index: 1500;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    border: none;
    outline: none;
    border-top: 2px solid rgb(255, 5, 176);
    box-shadow: 0px 0px 20px rgb(255, 5, 176);
    position: absolute;
    bottom: 0%;

    color: white;
    font-family: 'VT323';
    font-size: 3vw;
    text-shadow: 1px 1px 0px rgba(211, 211, 211, 0.396);
    overflow: hidden;
}

#npc-chat legend {
    border: 1px solid rgb(255, 5, 176);
    box-shadow: 0px 0px 4px rgb(255, 5, 176);
    background: black;
}

#npc-text {
    display: inline-block;
}

#f {
    /* position to the right */
    display: inline-block;
    color: rgb(255, 5, 176);
    animation: pulse-opacity 1s infinite cubic-bezier(0.16, 1, 0.3, 1);
}

#timer {
    font-family: 'VT323';
    font-weight: bold;
    font-size: 4vw;
    color: white;
    opacity: 0.25;
    position: absolute;
    z-index: 10;
    transform: scaleX(175%);
    transform-origin: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes flicker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.done {
    opacity: 1 !important;
}

#new-best {
    animation: flicker 0.5s infinite;
    font-size: 4vw;
    color: yellow;
}

#timer sup {
    font-size: 50%;
}

@keyframes pulse-opacity {
    0% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    90% {
        opacity: 0.15;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0.15;
    }
}

@keyframes typewriter {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#fullframe {
    width: 100%;
    height: 100%;
    border: none;
}

#prevent-overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: 0px 0px;
    background: black;
    z-index: 9;
}

#ui-overlay {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: 0px 0px;
    animation-fill-mode: forwards;
    z-index: 10;
}

@keyframes dead-fade-out {
    from {
        opacity: 1;
        background: rgb(103, 153, 103);
    }

    to {
        background: rgb(11, 11, 216);
        opacity: 0;
    }
}

#end-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

#dead-overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: url('../img/death_overlay.png');
    background-size: 100% 100%;

}

#healthbar {
    z-index: 1;
}

.health {
    position: absolute;
    left: 20px;
    bottom: 20px;
    visibility: hidden;
}

#phone {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 200px;
    /* background: rgb(241, 241, 241);
    border: 20px solid black;
    border-radius: 20px; */
}

.message {
    padding: 10px;
    margin: 10px;
    width: 80%;
}

.phone-vibrate {
    color: white;
}

.message-left {
    background: #6aabf7;
    color: white;
    border-radius: 10px 10px 10px 0px;
    float: left;
}

.message-right {
    background: #c5c5c5;
    color: black;
    border-radius: 10px 10px 0px 10px;
    float: right;
}

.choice {
    background: #c5c5c56e;
    border: 1px double #c5c5c5;
    color: white;
}

#indicator {
    animation: fade-out 0.25s forwards;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%); }

    100% {
        transform: translateY(0%);
    }
}

#whitebar {
    height: 100%;
    background: white;
    color: white;
    z-index: 9999;
    position: absolute;
    top: 0%;
    right: 100%;
    /* border-right: 3px solid rgb(152, 12, 12); */
    animation: swipe-right 0.75s ease-in-out forwards;
}

@keyframes swipe-right {
    0% {
        right: 100%;
        width: 0%;
    }

    50% {
        width: 15%;
    }

    100% {
        width: 5%;
        right: -10%;
    }
}

@keyframes fade-in-blink {
    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#death-counter {
    z-index: 1000;
    color: white;
    font-weight: bolder;
    font-size: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#bonus-challenges {
    padding: 10px;
    color: white;
    
    position: absolute;
    top: 5%;
    left: 2.5%;
    /* background: rgba(0, 0, 0, 0.25); */
    width: 30%;
}

.bonus-challenges-text {
    width: 90%;
}

.bonus-challenges-text-header {
    width: 125%;
}

#widebar {
    width: 100%;
    height: 100%;

    position: absolute;

    border-right: 1px solid rgba(255, 255, 255, 0.067);
    animation-fill-mode: forwards;

    /* background: linear-gradient(to bottom, rgb(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.0) 50%); */
    background-position: center;
}

#widebar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;

    image-rendering: pixelated;

    animation: shift-up 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    animation-delay: 2.35s;

    /* text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 5em;
    animation: fade-in-blink 0.85s cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0; */
}

@keyframes shift-up {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -100%);
    }
}

#flasher {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#next-level-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 180%;
    text-shadow: rgb(255, 222, 33) 0px 0px 25px;

    background: -webkit-linear-gradient(#ffe23f 80%, #ffda08a8 20%);
    background-size: 200% 15%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shift-gradient 0.5s ease infinite;
    animation: shift-gradient 0.5s ease infinite;
}

#widebar-carrier {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    animation: flicker-in 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;

    /* animation: shift-up 1s cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    animation-delay: 2.5s; */
}

@keyframes flicker-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1) translateY(0);
    }

    50% {
        transform: scale(90%) translateY(0);
    }

    100% {
        transform: scale(90%) translateY(275%);
    }

}

#level-stats {
    display: inline-block;

    position: absolute;
    top: calc(50% + 140px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    color: white;
    text-align: center;
}

.stat-holder {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;

    opacity: 0;

    animation: fade-in 0.85s cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    font-size: 150%;
}

.left-stat {
    float: left;
}

.right-stat {
    float: right;
    font-weight: bold;
}

@keyframes expand {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0.45;
    }

    50% {
        transform: translate(-50%, -50%);
        opacity: 0.15;
    }

    100% {
        transform: translate(-50%, -50%) scaleY(0);
        opacity: 0.15;
    }
}

#cover-flash {
    z-index: 2000;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid black;

    width: 100%;
    height: 100%;

    background: url("../img/end_screen.gif");
    background-size: 1.5% 100%;
    background-position: center;
    background-repeat: repeat;

    animation-direction: forwards;
}

#ammo-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-200% - 10px), -50%);
    font-size: 1em;
    color: white;
    text-shadow: 0 0 25px black;
    text-align: right;
    opacity: 0.15;
    width: 20px;
}

#enemy-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150%, -50%);
    font-size: 1em;
    color: white;
    text-shadow: 0 0 25px black;
    text-align: left;
    opacity: 0.15;
    width: 20px;
}

@keyframes swing-gradient {
    0% {
        rotate: -2deg;
        font-size: 1em;
        opacity: 0.5;
    }

    25% {
        rotate: 2deg;
        font-size: 1.25em;
        opacity: 1;
    }

    50% {
        rotate: -2deg;
        font-size: 1.25em;
        opacity: 1;
    }

    75% {
        rotate: 2deg;
        font-size: 1em;
        opacity: 0.5;
    }

    100% {
        rotate: -2deg;
        font-size: 1em;
        opacity: 0.5;
    }
}

#restart-helper {
    visibility: hidden;
    z-index: 500;
    transform-origin: center;
    pointer-events: none;
    color: white;
    animation: swing-gradient 0.75s infinite cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 140%;
    text-shadow: 0 0 25px black;
}

@keyframes score-animate-good {
    0% {
        transform: scale(1);
        color: gold;
    }

    50% {
        transform: scale(1.15);
        color: rgb(255, 193, 68);
    }

    100% {
        transform: scale(1);
        color: gold;
    }
}

@keyframes score-animate-bad {
    0% {
        color: rgb(188, 49, 49);
        transform: scale(1, 1.25);
    }

    50% {
        color: rgb(255, 68, 68);
        transform: scale(1, 1);
    }

    100% {
        color: rgb(188, 49, 49);
        transform: scale(1, 1.25);
    }
}